* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    box-sizing: border-box;
    background-image: url(./imagenes/fondo.png);
}

.separacion {
    height: 75px;
}
.barra_navegacion {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    background: wheat;
    padding: 0.5em;
    z-index: 10;
}

.barra_navegacion img {
    height: 4em;
    position: absolute;
    left: 125px;
}

a {
    text-decoration: none;
    color: black;
    padding: 0.2em;
}

.logo a {
    text-decoration: none;
    color: black;
    padding: 0;
}


nav a {
    padding: 10px;
    transition: all .35s;
    letter-spacing: 1px;
}

nav a:hover {
    color: rgba(0, 0, 0, 0.293);
}
 
.logo  {
    transition: all .35s;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
    padding-left: 10px ;
    font-family: 'Montserrat',sans-serif;
}

.logo:hover {
    color: rgba(0, 0, 0, 0.293);
}


.contenedor {
    background: #2f2820;
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 15px 10px rgba(70, 70, 70, 0.359);
    transition: 0.5 ease; 
}

.caja {
    position: relative;
    width: 380px;
    height: 480px;
    background: rgba(255, 255, 255, 0.292);
    top: 100px;
    transition: 0.5 ease; 
}

.contenedor h2 {
    color: wheat;
    text-align: center;
    letter-spacing: 0.1em;
    font-family: 'Exo 2', sans-serif;
}

#logo {
    position: absolute;
    width: 4em;
    left: 10px;
    top: 20px;
}

.input_box {
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.input_box input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    letter-spacing: 0.05em;
    color: #8f8f8f;
}

select {
    position: relative;
    right: 4px;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #8f8f8f;
    font-family: 'Montserrat', sans-serif;
}

.input_box span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.input_box input:valid ~ span, 
.input_box input:focus ~ span {
    color: wheat;
    transform: translatey(-30px);
}
/*botones submit*/
 #ingresar{
    position: absolute;
    right: 10%;
    bottom: 50px;
    background: transparent;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    color: #f5deb3;
    border-width: 1px;
    border-color: wheat;
    cursor: pointer;
    transition: 0.5s ease;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    font-family: 'Exo 2', sans-serif;

}

#registrarse{
    position: absolute;
    right: 10%;
    bottom: 50px;
    background: transparent;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    color: wheat;
    border-width: 1px;
    border-color: wheat;
    cursor: pointer;
    transition: 0.5s ease;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    font-family: 'Exo 2', sans-serif;
}

#transferir {
    position: absolute;
    right: 65%;
    bottom: 50px;
    background: transparent;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    color: wheat;
    border-width: 1px;
    border-color: wheat;
    cursor: pointer;
    transition: 0.5s ease;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    font-family: 'Exo 2', sans-serif;
}

#transferir {
    position: absolute;
    right: 67%;
    top: 33px;
    background: transparent;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    color: wheat;
    border-width: 1px;
    border-color: wheat;
    cursor: pointer;
    transition: 0.5s ease;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    font-family: 'Exo 2', sans-serif;
}

#operaciones {
    position: absolute;
    top: 322px;
    left: 13px;
    background: transparent;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    color: wheat;
    border-width: 1px;
    border-color: wheat;
    cursor: pointer;
    transition: 0.5s ease;
    font-size: 1em;
    letter-spacing: 0.05em;
    font-family: 'Exo 2', sans-serif;
}

button:hover {
    transform: translateY(-5px);
}

input[type="submit"]:hover {
    transform: translateY(-5px);
}
/*--------------------------------*/
.input_box i {
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: wheat;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}

/*Estilos extra index*/

section h3 {
    color: #f5deb3;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 5px ;
}

section p {
    font-weight: bold;
    margin-bottom: 15px;
}

section {
    color: #fdfcfb;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 40px; 
    gap: 20px;
}

#sec1 {
    background-image: url(./imagenes/section1.svg);
    background-attachment: fixed;
}

#sec2 {
    background-image: url(./imagenes/section2.svg);
    background-attachment: fixed;
}

#sec3 {
    background-image: url(./imagenes/section3.svg);
    background-attachment: fixed;
}

#sec4 {
    background-image: url(./imagenes/section4.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.texto {
    width: 50%;
    font-size: 18px;
    font-weight: bold;
}

.texto a {
    color: #f5deb3;
    font-weight: 550;
    position: absolute;
    margin-top: 10px;
    padding: 8px; 
    border-radius: 8px;
    border-style: solid;
    border-width: 0.5px;
    z-index: 1;
    transition: all 0.35s ease;
    background-color: #2f2820;
}

.texto a:hover {
    transform: translatey(-5px);
}

.img_index {
    max-height: 300px;

}

#volver {    
    color: #f5deb3;
    font-weight: 550;
    position: relative;
    top: 30%;
    margin-top: 10px;
    padding: 8px; 
    border-radius: 8px;
    border-style: solid;
    border-width: 0.5px;
    z-index: 1;
    transition: all 0.35s ease;
    background-color: #2f2820;
}

#volver:hover {
    transform: translatey(-5px);

} 
/*-----------------------------------/

/*Responsive*/

@media (max-width: 700px) {
    header{
        flex-direction: column;
    }
    section {
        flex-direction: column;
    }

    .img_index {
        height: 250px;
    }
    .texto {
        width: 70%;
        font-size: 14px;
    }
}
